@import 'app/styles-variables.scss';

@import '../node_modules/bootstrap/scss/bootstrap-reboot';
@import '../node_modules/bootstrap/scss/bootstrap-grid';
@import '../node_modules/bootstrap/scss/utilities';


@import '../node_modules/@angular/material/theming';

@import 'styles-reset.scss';

@include mat-core();

@import 'app/app.component.scss-theme.scss';
